* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

body {
  background-color: skyblue;
}



h1 {
  margin: 20px 10px;
}

ul {
  list-style: none;
}

li {
  margin-top: 20px;
}

li > label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  display: flex;
  gap: 50px;
}

.etch-container {
  height: min(50vw,80vh);
  width: min(50vw,80vh);
  display: flex;
  flex-direction: column;
}

.tile-container {
  flex: 1;
  height: auto;
  display: flex;
  margin-left: 30px;
}

.tile {
  flex: 1;
  /* background-color: black; */
}

.tile-border {
  border: 1px gray solid;
}

.sidebar {
  margin-top: -50px;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
